@charset "utf-8";

/// reset PC
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
em,
img,
sub,
sup,
address,
cite,
pre,
code,
del,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    overflow: visible;
    appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[data-type='number'] {
    ime-mode: disabled;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    appearance: textfield;
    box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    appearance: none;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
select::-ms-expand {
    display: none;
}
[disabled] {
    cursor: default;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}
body {
    width: 100%;
    font-size: 15px;
    font-family: 'NotoL', serif;
    letter-spacing: -0.5px;
    word-break: break-all;
    color: #111;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    color: #2f2f2f;
    font-size: 15px;
}
input,
button,
select,
textarea {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    color: #2f2f2f;
    font-size: 15px;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    appearance: none;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    outline: none;
}
caption,
legend,
hr {
    display: none;
}
em,
address,
i {
    font-style: normal;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
strong,
b {
    font-weight: normal;
    color: #2f2f2f;
    font-size: 15px;
    line-height: 1;
}
label {
    cursor: pointer;
}

input::placeholder {
    color: #c1c1c1;
    line-height: normal;
}
textarea::placeholder {
    color: #c1c1c1;
    @include Clear;
}

//Noto
@font-face {
    font-family: 'NotoL';
    src: url('../fonts/notokr-light.woff') format('woff'), url('../fonts/notokr-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.home {
    h1 {
        @include Flex-config($justify: center, $align: center);
        font-size: 1.4rem;
        img {
            animation: App-logo-spin infinite 20s linear;
        }
    }
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 2rem 0;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-nav {
    @include Flex-config($wrap: wrap);
    width: 35rem;
    margin-top: 20px;
    border: 1px solid #fff;
    padding: 1rem 0;
    box-sizing: border-box;
    border-radius: 1rem;
    > a {
        width: 50%;
        font-size: 1rem;
        margin: 0.5rem 0;
    }
}

.Header {
    @include Flex-config($justify: space-between, $align: center);
    padding: 1rem;
    background-color: beige;
    .left {
        > button {
            @include Flex-config($display: inline-flex, $justify: center, $align: center);
            margin: 0 0.25rem;
            font-size: 0.8rem;
            background-color: #282c34;
            color: #fff;
            padding: 0 0.5rem;
            height: 2rem;
            border-radius: 0.5rem;
            &::before {
                display: block;
                content: '';
                background: url('../images/logo192.png') no-repeat 0 0;
                width: 20px;
                height: 20px;
                background-size: 100%;
            }
        }
    }
    .right {
        > a {
            @include Flex-config($display: inline-flex, $justify: center, $align: center);
            margin: 0 0.25rem;
            font-size: 0.8rem;
            background-color: #282c34;
            color: #fff;
            padding: 0 0.5rem;
            height: 2rem;
            border-radius: 0.5rem;
        }
        > div {
            @include Flex-config($display: inline-flex, $justify: center, $align: center);
            > span {
                @include Inline-block-config();
                margin: 0 0.25rem;
                font-size: 0.8rem;
            }
            > a {
                @include Flex-config($display: inline-flex, $justify: center, $align: center);
                margin: 0 0.25rem;
                font-size: 0.8rem;
                background-color: #282c34;
                color: #fff;
                padding: 0 0.5rem;
                height: 2rem;
                border-radius: 0.5rem;
            }
            > button {
                @include Flex-config($display: inline-flex, $justify: center, $align: center);
                margin: 0 0.25rem;
                font-size: 0.8rem;
                background-color: #282c34;
                color: #fff;
                padding: 0 0.5rem;
                height: 2rem;
                border-radius: 0.5rem;
            }
        }
    }
}

.SignUp,
.LogIn {
    h1 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    @include Flex-config($justify: center, $align: center, $flow: column);
    form {
        @include Flex-config($justify: center, $align: center, $flow: column);
        width: 35rem;
    }
    span {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0.5rem 0 0.2rem;
        font-size: 0.8rem;
    }
    input {
        border: 1px solid #000;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
}

.not-found {
    @include Flex-config($justify: center, $align: center);
    height: 100vh;
    span {
        font-size: 20px;
        font-weight: bold;
    }
}

.btn {
    @include Inline-block-config();
    font-weight: bold;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    padding: 0.6rem 1.3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.error-text {
    font-size: 0.8rem;
    color: red;
    display: block;
    text-align: left;
    width: 100%;
    position: relative;
    top: -0.4rem;
}

.pageloading_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 3;
}
.pageloading_wrap .pageloading {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
}

.modalWrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 60;
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .modalInner {
        position: relative;
        border-radius: 20px;
        background-color: #fff;
        width: 500px;
        padding: 20px;
        box-sizing: border-box;
        .layer-in {
            max-height: calc(100vh - 100px);
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
            padding: 1rem 0;

            .confirm-bt {
                @include Flex-config($display: inline-flex, $justify: center, $align: center);
                margin: 1rem 0.25rem 0;
                font-size: 0.8rem;
                background-color: #282c34;
                color: #fff;
                padding: 0 1rem;
                height: 2rem;
                border-radius: 0.5rem;
            }
        }

        .modal-close {
            width: 40px;
            height: 36px;
            background-color: #000;
            position: relative;
            border-radius: 6px;
            box-shadow: 2px 2px 4px 0 white;
            @include Hide_txt;
            @include Position($top: 0.5rem, $right: 0.5rem);
        }

        .modal-close:before,
        .modal-close:after {
            content: '';
            position: absolute;
            width: 36px;
            height: 4px;
            background-color: white;
            border-radius: 2px;
            top: 16px;
            box-shadow: 0 0 2px 0 #ccc;
        }
        .modal-close:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 2px;
        }
        .modal-close:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 2px;
        }
    }
}

.footer {
    @include Flex-config($justify: center, $align: center);
    padding: 1rem;
    background-color: beige;
    span {
        margin: 0 0.4rem;
        font-size: 0.7rem;
    }
}

/*modal*/
.modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    opacity: 0.5;
    z-index: 50;
    &.active {
        display: block;
    }
}

.normalModalWrapper {
    color: #000;
}
